---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Conferences & Workshops -->
{% if site.publication_category %}
  {% assign counter = 0 %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 style="text-decoration: underline; font-size: 1.3em; margin-top: 2em;">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% assign counter = counter | plus: 1 %}
      {% assign authors = post.citation | split: '(' | first | strip %}
      <p style="margin-top: 1.2em; margin-bottom: 0.5em; line-height: 1.6;">
        [{{ counter }}] {{ authors }}<br/>
        <a href="{{ post.url }}" style="color: #52B5E5;">{{ post.title }}</a><br/>
        {% if post.venue contains "Under review" %}
          <em>{{ post.venue }}</em>
        {% else %}
          In <strong>{{ post.venue | split: '(' | first | strip }}</strong> {% if post.venue contains '(' %}<em>{{ post.venue | split: '(' | last | split: ')' | first }}</em>{% endif %} ({{ post.date | date: "%Y" }}).
        {% endif %}
      </p>
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign counter = 0 %}
  {% for post in site.publications reversed %}
    {% assign counter = counter | plus: 1 %}
    {% assign authors = post.citation | split: '(' | first | strip %}
    <p style="margin-top: 1.2em; margin-bottom: 0.5em; line-height: 1.6;">
      [{{ counter }}] {{ authors }}<br/>
      <a href="{{ post.url }}" style="color: #52B5E5;">{{ post.title }}</a><br/>
      In <strong>{{ post.venue }}</strong> ({{ post.date | date: "%Y" }}).
    </p>
  {% endfor %}
{% endif %}



